
<ul class="list-group">
   <li routerLink = ""
       routerLinkActive = "active"
      [routerLinkActiveOptions] = "{ exact: true }"  
       class="list-group-item "> Home </li>
       <!-- [routerLinkActiveOptions] = "{ exact: true }" esto se coloca por que es un path vacio = "" -->
       <!--btn btn-danger == routeLinkActive-->

    <li routerLink = "asignaciones" 
        routerLinkActive = "active"
        class="list-group-item "> Asignaciones</li>

    <li routerLink = "edificios"
        routerLinkActive = "active"
        class="list-group-item "> Edificios</li>

    <li routerLink = "trabajadores"
        routerLinkActive = "active"
        class="list-group-item "> Trabajadores</li>    
</ul>
