<div class="container mt-4">
  <!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="trabajadores"><img id="homeI" src="https://res.cloudinary.com/dr1hlsicm/image/upload/v1627500545/LogosSisalril_002_o7oupz.png" height="100px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav nav-tabs">
           <li class="nav-item">
             <a class="nav-link " routerLink="trabajadores" aria-current="page" >Trabajadores</a>
           </li>
           <li class="nav-item">
             <a class="nav-link"  routerLink="edificios">Edificios</a>
           </li>
           <li class="nav-item">
             <a class="nav-link"  routerLink="asignaciones">Asignaciones</a>
           </li>
          </ul>  
    </div>
    <h1 class="animate__animated animate__fadeInRight">PRUEBA SISALRIL</h1>
  </div>
  
</nav>
<!--fin navbar-->

</div>
<div class="container mt-5">
  <router-outlet></router-outlet> 
</div>



